// Colors

$main-blue: #2594b7;
$secondary-blue: #01a4da;
$light-blue: #b4f0fd;
$main-red:#b80e0e;
$secondary-red:#E32324;
$main-yellow: 	#ffc107;
$secondary-yellow: #f4d03f;
$light-grey-1:#f0f0f0;
$light-grey-2:  #e6e6e6;
$dark-grey: #494949;
$white: #F8F8FF;

//Fonts

$main-font: 'Lato';
$secondary-font: 'BPG Web';
