<h2>Add Comment</h2>

<div class="add-comment-wrapper">
  <div class="img-wrapper">
      <img 
    src="../../../../assets/pics/facebook-avatar.jpg"
    alt="facebook-avatar"
    class="facebook-avatar"
  />
  </div>

  <form #form="ngForm" (ngSubmit)="addComment(form)" (keyup.enter)="addComment(form)" class="comment-form">
    <div class="form-group">
      <label class="form-label label-blue">Name</label>
      <input
        class="form-input"
        type="text"
        name="name"
        #name
        [(ngModel)]="newComment.name"
        required
      />
    </div>

    <div class="form-group">
      <label class="form-label">Body</label>
      <input
        class="form-input"
        type="text"
        name="body"
        #body
        [(ngModel)]="newComment.body"
        required
      />
    </div>

    <input type="hidden" name="id" [(ngModel)]="newComment.id" />
    <button class="global-btn comment-btn" type="submit" [disabled]="!form.valid">
      Add
    </button>
  </form>
</div>
